@media (max-width: 1000px) {
  #side-bar {
    display: none;
  }
  #main-body {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .navbar form {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 100% !important;
  }
  #stories {
    margin: -1rem -1rem 0 -1rem;
  }
  #feed .box {
    margin: 0 -1rem;
    border-bottom: none;
    .comment {
      border: none;
      margin-top: 0;
    }
  }
}
